<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%  require 'faker' 
%>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="#"><i class="icon-align-left"></i></a>
    <a class="btn" href="#"><i class="icon-align-center"></i></a>
    <a class="btn" href="#"><i class="icon-align-right"></i></a>
    <a class="btn" href="#"><i class="icon-align-justify"></i></a>
  </div>
</div>

<i class="icon-envelope"></i>
<i class="icon-search"></i>
<i class="icon-flag"></i>
<i class="icon-volume-down"></i><i class="icon-volume-up"></i>


<% 100.times do |n| %>
	<p><%= Faker::Company.name %></p>
<% end %>

