// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-image{
	position: fixed;
	min-width: 1024px;
	min-height: 800px;
	top: 39px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: -4;
}
.root {
  color: white;
  // position: fixed;
}
